header {
  height: 7%;
  background-color: #1890ff;
}

.header-container {
  margin: 20px auto;
}

.header-appname {
  display: flex;
  flex-flow: row nowrap;
}

.header-appname span {
  margin: auto 5px;
  font-size: 20px;
}

.header-author {
  text-align: right;
}
