.go-back-text {
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
}

.go-back-icon {
  font-size: 25px;
}

.record-status-text {
  margin: 15px auto;
  font-size: 18px;
}

.record-info-row {
  margin: 20px;
  font-size: 16px;
}

.record-blockie {
  text-align: center;
}

.record-user-name {
  font-weight: bolder;
}

.record-user-address {
  font-size: 16px;
}

.patient-records-text {
  margin: 20px;
  font-size: 20px;
}

.patient-create-record-btns-container {
  margin: 10px;
  text-align: right;
}

.patient-create-btn {
  margin: 5px;
}

.patient-empty {
  margin: 50px auto;
}

.patient-records-search-input {
  outline: none;
  width: 100%;
  border: 1px solid grey;
  font-size: 0.9rem;
  /* margin-left: 20px; */
  padding: 1rem;
  border-radius: 0.5rem;
}

.create-record-btn:hover {
  background-color: rgb(97, 174, 233);
}

.create-record-btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}
.create-record-btn {
  background-color: #318af1;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 15px;
  font-size: 16px;
}
