.register-text {
  text-align: center;
  padding: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.system-users-text {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 15px;
}

.users-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 20px;
}

.info-icon {
  padding: 5px;
  cursor: pointer;
}
