.welcome-container {
  margin: 100px auto;
  padding: 120px 200px;
  text-align: center;
}

.welcome-text {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: lighter;
  width: 60%;
  text-align: center;
  margin: auto;
}

.connect-button {
  margin: 85px 0;
  padding: 20px;
  border: 2px solid transparent;
  background-color: #56bffb;
  border-radius: 37px;
  width: 240px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: bold;
}

.connect-button:hover {
  background-color: #a2dbfa;
}
