header {
  height: 10%;
  background-color: #e4fbff;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

.header-title {
  display: flex;
  align-items: center;
}

.header-author {
  text-align: center;
}

.brand-logo {
  margin: 5px;
  font-weight: bold;
  font-size: 24px;
  color: #334257;
}

.header-container {
  border: 1px solid red;
  height: 60px;
  margin: 20px auto;
  padding: 0 200px;
  flex-grow: 4;
}
