header {
  height: 10%;
  background-color: #f6faff;
}

.header-container {
  margin: 50px auto;
}

.header-appname {
  display: flex;
  flex-flow: row nowrap;
}

.header-appname span {
  margin: auto 5px;
  font-size: 20px;
}

.header-author {
  text-align: right;
}
