.walletImg {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.walletName {
    text-align: center;
}

.walletDescription {
    text-align: center;
}

.walletBox:hover {
    background-color: #F8F8F8	;
    cursor: pointer;
    border-radius: 8px;
}